.container {
    padding: 80px 120px;
}
.move {
	margin-top:100px;
}

.clear{
	clear:both;
}

.docPreview{
	float:left;
}
.parent{
	overflow: hidden;
	position: relative;
	
}

.child {
  float: left;
  width: 600px;
  height: 600px;
  display: block;
  margin: 10px;
  border: 1px solid #999;
}